In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
credit_card = pd.read_csv('Credit Default Dataset.csv')

In [3]:
credit_card.head()

        Income        Age         Loan  Loan to Income  Default
0  66155.92510  59.017015  8106.532131        0.122537        0
1  34415.15397  48.117153  6564.745018        0.190752        0
2  57317.17006  63.108049  8020.953296        0.139940        0
3  42709.53420  45.751972  6103.642260        0.142911        0
4  66952.68885  18.584336  8770.099235        0.130990        1

In [3]:
credit_card['Default'].value_counts()

Default
0    1717
1     283
Name: count, dtype: int64

In [4]:
X = credit_card.drop(['Default'],axis=1)
y = credit_card['Default']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, random_state=42)

In [15]:
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [16]:
print(classification_report(y_test,y_pred))
accuracy_score(y_test,y_pred)
confusion_matrix(y_test, y_pred)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       508
           1       1.00      0.99      0.99        92

    accuracy                           1.00       600
   macro avg       1.00      0.99      1.00       600
weighted avg       1.00      1.00      1.00       600

array([[508,   0],
       [  1,  91]])